* {
    font-family: Vazir Code;
}

/* @font-face {
    font-family: 'Vazir Code';
    font-weight: 500;
    font-style: normal;
    src: url(Vazir-Code.ttf);
} */

@font-face {
    font-family: Vazir Code;
    font-weight: bold;
    src: url('Vazir-Code.eot');
    src: url('Vazir-Code.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Code.woff') format('woff'),
         url('Vazir-Code.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Vazir Code Hack;
    src: url('Vazir-Code-Hack.eot');
    src: url('Vazir-Code-Hack.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Code-Hack.woff') format('woff'),
         url('Vazir-Code-Hack.ttf') format('truetype');
    font-weight: normal;
  }
  
  pre, code {
    font-family: 'Vazir Code', 'Vazir Code Hack', monospaced;
  }